/* div.screen {
    opacity: .95;
    background: #666;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
#loginIn {
    position: fixed;
    font-size: 40px;
    height: 350px;
    width: 350px;
    color: white;
    background: #FF4136;
    border: 15px solid white;
    margin-bottom: 2px;
    margin-top: 20px;
    background: #FF4136;
    border-radius: 10%;
    text-align: right;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    Negative half of height.
    
    margin-left: -175px;
    Negative half of width.
    
    opacity: 100;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
input[type="textarea"]#loginIn::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
    color: #666;
    text-align: center;
} */
/* #username {
    border-radius: 10%;
    width: 90%;
    border: 2px solid #FF4136;
    font-size: 26px;
    background: white;
    color: black;
    float: center;
    padding: 10px;
}
.sign {
    border: .1px solid white;
} */

.off-canvas-content {
    overflow: hidden;
}
body {
    background: #36c3e5;
    background: #FF4136;
}
.callout {
    background: #36c3e5;
    background: #FF4136;
    padding: 10px;
    color: white;
    text-align: right;
    border: none;
    margin-top: 0px;
}
/* removes the border */

.x-callout:before {
    display: none;
}
.callout H1 {
    /*    font-family: 'Jura', sans-serif;
     font-family: 'Passion One', cursive;
     font-family: 'Comfortaa', cursive;    
 font-family: 'Syncopate', sans-serif;
 font-family: 'Gloria Hallelujah', cursive;
     font-family: 'Architects Daughter', cursive;
     font-family: 'Fascinate Inline', cursive; */
    
    font-family: 'Lobster', cursive;
    font-family: 'Monofett', cursive;
    font-family: 'Pacifico', cursive; 
    
    line-height: auto;
    margin-bottom: auto;
    /*     font-weight: bold; */
    
    font-size: 150px;
    -webkit-animation: bounce-top 0.9s both;
    -moz-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
    /* background-image:  */
}
.callout H4 {
    font-family: 'Lobster', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .05em;
    line-height: 3px;
    font-size: 40px;
}
#feelSpectrumText {
    letter-spacing: 1em;
    line-height: 2px;
    margin-bottom: 6px;
    text-align: left;
}
/**{
        background: #ff7bac;
    }*/

    /* START EXPANDER */
    
    /* END EXPANDER */

#talkInvite {
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    line-height: 3px;
    color: #FF4136;
    margin-bottom: 2px;
    margin-top: 20px;
    background: white;
    border-radius: 40%;
}
#selfieInvite {
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
    line-height: 3px;
    color: #FF4136;
    margin-bottom: 2px;
    margin-top: 20px;
    background: white;
    border-radius: 40%;
    text-align: right;
}
/* #selfieColorButton:hover #selfieFrame {
    color:black;
} */

#smCameraButton {
    margin-left: 5px;
    margin-top: -10px;
}
#takeSelfieText {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #FF4136;
}
#keepButton {
    /*  float:left;*/
    
    border: .1px solid white;
    font-family: 'Comfortaa', cursive;
}
#deleteButton {
    /*float:left;*/
    
    border: .1px solid white;
    font-family: 'Comfortaa', cursive;
}
#storeTxtButton {
    /*float:left;*/
    font-family: 'Comfortaa', cursive;
    border: .1px solid white;
}
#selfieColorButton {
    border: .1px solid white;
    font-family: 'Comfortaa', cursive;
}
#selfieFrame {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    line-height: 13px;
    padding: 20px;
    height: 240px;
    width: 80%;
    color: #FF4136;
    margin-left: 15px;
    margin-top: 20px;
    background: white;
    border-radius: 10%;
    text-align: right;
    border: 20px solid navajowhite;
    padding: 10px;
}
/*#giveText{
        font-size: 30px;
        color:#FF4136;
        line-height: 6px;
    
    }*/

#sayText {
    font-size: 20px;
    color: #666;
}
#pencilColor {
    font-size: 350px;
    float: right;
    width: 40%;
    height: 40%;
    margin-right: 50px;
    padding: 0px;
    color: white;
}
#pencilColor:hover {
    color: navajowhite;
}
#getYourTextColor {
    /* @extend .transition*/
    margin-top: 20px;
    background-color: #FF4136;
    border: 1px solid #FF4136;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    /*      border-radius: 60px;*/
    color: white;
/*     letter-spacing: 0.01em; */
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
#getYourTextColor:hover {
    color: white;
    background-color: salmon;
    border: 2px solid white;
}
#getYourTextColor:hover #pencilColor {
    color: lightgreen;
}
.box {
    float: right;
    width: 35px;
    height: 35px;
    margin: 10px;
    border: 7px solid white;
    align-items: right;
    border-radius: 15%;
}
.box:hover {
    border-radius: 40%;
    box-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#cameraFeel {
    float: right;
    width: 40%;
    height: 40%;
    margin-right: 10px;
    padding: 0px;
    border-style: none;
    color: white;
    font-size: 110px;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#cameraFeel:hover {
    color: grey;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#smCamera {
    color: black;
    text-align: right;
}
#smCamera:hover {
    color: floralwhite;
    text-align: right;
}
/*#cameraFeel{
        visibility: hidden;
    }
    
    .camera:hover #cameraFeel {
       visibility: visible;
       font-size: 20px;
        color:white;  
    } 

    */

#pencilFeel {
    float: right;
    width: 40%;
    /* height: 40%; */
    margin-right: 50px;
    padding: 0px;
    color: white;
    font-size: 110px;

}
#pencilFeel:hover {
    color: grey;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#textCamera {
    font-size: 55px;
    color: white;
    font-weight: bolder;
    padding-left: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    /* margin-top: 20px; */
}
#textPencil {
    font-size: 55px;
    color: white;
    font-weight: bolder;
    padding-left: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    /* margin-top: 20px; */
}
#selfieCapture {
    clear: both;
    position: relative;
    /*     display: inline-block; */
    
    max-width: 600px;
    min-width: 300px;
    height: 400px;
    min-height: 300px;
    box-sizing: border-box;
    padding: 30px 10px;
    background-color: white;
    border-radius: 40px;
    margin: 20px 1px;
    font-family: "Helvetica", sans-serif;
    border: 7px solid #3e2b14;
}
/* .icons {
    border-radius: 40px;
    padding: 10px 40px;
max-width: 500px;
min-width: 300px;
height: 400px;
min-height: 300px;
} */

.feel {
    color: white;
    font-size: 18px;
}
/* START CARO Pics */



.image-hover-wrapper {
    position: relative;
    background: white;
    /* padding: 10%; */
    margin-bottom: 2%;
    border-radius: 1%;
    padding: 20px;
}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(1, 2, 3, .7);
  color: #fefefe;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
    /* bottom: 20px; */
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    color: black;
    background: white;
    border: #FF4136 5px solid;
    border-radius: 14px;
    padding: 2%;
    text-align: center;
    width: 25%;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .fa {
  font-size: 24px;
}


.image-hover-wrapper .image-hover-wrapper-banner {
background-color: white;
    color: dimgrey;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 35%;
    left: 95%;
    width: 19%;
    z-index: 10;
    border-radius: 8px;
    border: solid grey 3px;
}

/* .visitLink {
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;

} */
/* END CARO Pics  */

#offCanvasBottom1 {
    background: white;
}
/*form*/

form {
    clear: both;
    position: relative;
    display: inline-block;
    max-width: 500px;
    min-width: 300px;
    height: 400px;
    min-height: 300px;
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 20px;
    font-family: "Helvetica", sans-serif;
    font-weight: light;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    border: 6px solid #3e2b14;
    padding: 10px;
}
Form:hover {
    box-shadow: inset 0 0 0 10px navajowhite;
}
#inputText {
    appearance: none;
    background-color: none;
    border: 1px solid #FF4136;
    line-height: 0;
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 60px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    top: 60px;
    z-index: 1;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
    color: white;
    text-align: center;
}
#inputText:hover {
    outline: none;
    background: salmon;
    color: white;
    /*     margin-top: 30px;
margin: 40px 20px; */
    
    font-family: "Georgia";
}
#inputText:focus {
    outline: none;
    background: salmon;
    color: white;
    /*     margin-top: 30px;
margin: 40px 20px; */
    
    font-style: italic;
    font-family: "Georgia";
}
#yourTextColor {
    border-radius: 20%;
    height: 3%;
    width: 3% background: white;
}
.question {
    position: relative;
    padding: 10px 0;
}


.bgimg {
    background-image: url('images/bgColorFire.jpg');
    border-radius: 3px;
    padding: 2%;
    background-repeat: no-repeat;
}

button {
    /* @extend .transition*/
    
    margin-top: 20px;
    background-color: #FF4136;
    border: 1px solid #FF4136;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    /*      border-radius: 60px;*/
    
    color: white;
    font-weight: 100;
    letter-spacing: 0.1em;
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
}
button:hover {
    color: white;
    background-color: salmon;
    border: 2px solid white;
}
button #getColorButton:focus {
    color: white;
    background-color: #FF4136;
}
#backTop {
    background: white color: #666;
    margin-top: 10px;
}
#yearButton {
    clear: both;
    text-align: center;
    line-height: 0px;
    visibility: visible;
    float: left;
    background: white;
    color: #FF4136;
    letter-spacing: none;
    margin-top: 2px;
    border: .5px solid #666;
    font-family: 'Nova Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Comfortaa', cursive;
}
#yearButton:hover {
    color: white;
    background-color: salmon;
    border: .5px solid #FF4136;
}
/*ALMOST WORKS HERE HERE */
/*#yearButton:hover */
/*.off-canvas-wrapper .position-bottom {

     height:100%;   
} 
*/
/*MY VERSION.off-canvas-wrapper 

    STACKOVERFLOW SUGGESTIONS 
    .off-canvas-wrap,.inner-wrap{
    height:100%;   
}*/
/* YEAR IN COLOR CALENDAR*/

ul {
    list-style-type: none;
    box-sizing: border-box;
}
.yearHeader {
    padding: 0px;
    width: 100%;
    background: white;
}
.yearHeader ul {
    margin: 0;
    padding: 0;
}
.yearHeader ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-sizing: border-box;
}
.yearHeader .prev {
    float: left;
    padding-top: 10px;
    color: #FF4136;
}
.yearHeader .next {
    float: right;
    padding-top: 10px;
    color: #FF4136;
}

.dekCalendar li {
    display: inline-block;
    box-sizing: border-box;
    width: 13.6%;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.days {
    padding: 10px;
    background: #FF4136;
    margin: 0;
    font-family: sans-serif;
}
.days li {
    list-style-type: none;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: .5px;
    font-size: 12px;
    color: white;
    border: 1px white solid;
    border-radius: 20%;
}
#boxesHere li {
    list-style-type: none;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: .5px;
    margin-top: .5px;
    font-size: 12px;
    background: #FF4136;
    border: 1px white solid;
    border-radius: 20%;
    color: white;
}
.days li .monthy {
    list-style-type: none;
    display: inline-block;
    background: white;
    color: black;
    color: #FF4136;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Syncopate', sans-serif;
    margin-bottom: .5px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 18%;
}
li:hover {
    box-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    color: green;
}
li #jan1 {} li #jan1:hover {
    color: yellow;
    background: black;
}
#yearInColorHead {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: #FF4136;
    text-align: center;
}
/* Add media queries for smaller screens */
/* --------------------------------------Lg---------- */

@media screen and (max-width: 768px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
    .callout H1 {
        font-family: 'Lobster', cursive;
        font-size: 75px;
        line-height: 100px;
    }
    #pencilFeel {
        float: right;
        width: 40%;
        height: 40%;
        /* margin-right: 50px; */
        padding: 0px;
        color: white;
        font-size: 200px;
    }
    #textPencil {
        font-size: 18px;
        color: white;
        padding-left: none;
        text-align: left;
        font-family: 'Syncopate', sans-serif;
        /* margin-top: 20px; */
    }
    #cameraFeel {
        float: right;
        width: 40%;
        /* height: 40%; */
         margin-right: 150px; 
        padding: 0px;
        color: white;
        font-size: 200px;
    }
    #textCamera {
        font-size: 18px;
        color: white;
        padding-left: none;
        text-align: left;
        font-family: 'Syncopate', sans-serif;
        /* margin-top: 20px; */
    }
    #selfieFrame {
        padding: 0px;
        height: 170px;
        width: 250px;
        color: #FF4136;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: -20px;
        background: white;
        border-radius: 10%;
        text-align: right;
        border: 10px solid navajowhite;
        padding: 0px;
    }
    #selfieCapture {
        clear: both;
        position: relative;
        /*     display: inline-block; */
        
        height: 200px;
        padding: 10px;
        background-color: white;
        border-radius: 40px;
        margin: 1px;
        font-family: "Helvetica", sans-serif;
        border: 7px solid #3e2b14;
    }
    #selfieInvite {
        font-size: 30px;
        font-family: 'Comfortaa', cursive;
        line-height: 3px;
        color: #FF4136;
        margin-bottom: 0px;
        margin-top: -70px;
        background: white;
        border-radius: 40%;
        text-align: right;
    }
    .small-12 {
        padding: 0px;
    }
    #storeTxtButton {
        /*float:left;*/
        
        font-size: 12px;
        border: .1px solid white;
        padding: 12px;
        font-family: 'Comfortaa', cursive;
    }
    #selfieColorButton {
        /* line-height: 18px; */
        /*     border: .1px solid white; */
        
        font-size: 12px;
        padding: 10px;
        font-family: 'Comfortaa', cursive;
    }
    #keepButton {
        /*  float:left;*/
        
        border: .1px solid white;
        font-size: 12px;
        padding: 12px;
        font-family: 'Comfortaa', cursive;
    }
    #deleteButton {
        /*float:left;*/
        
        border: .1px solid white;
        font-size: 12px;
        padding: 12px;
        font-family: 'Comfortaa', cursive;
    }
    .medium-2 {
        width: 10%;
        padding: 0px;
    }
    #talkInvite {
        font-size: 25px;
        font-family: 'Comfortaa', cursive;
        line-height: 3px;
        color: #FF4136;
        margin-bottom: 2px;
        margin-top: 20px;
        background: white;
        border-radius: 40%;
    }
    #inputText {
        appearance: none;
        background-color: none;
        border: 1px solid #FF4136;
        line-height: 0;
        font-size: 24px;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 15px;
        border-radius: 60px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        top: 60px;
        z-index: 1;
    }
    /* --------------------------------Md---------- */
    
    @media screen and (max-width: 480px) {
        .weekdays li, .days li {
            width: 12.5%;
        }
        .days li .active {
            padding: 2px;
        }
        #textPencil {
            font-size: 18px;
            color: white;
            padding-left: none;
            text-align: center;
            font-family: 'Syncopate', sans-serif;
            margin-top: 20px;
            margin-left: 10px;
        }

        #textCamera {
            text-align: center;
        }
        #selfieCapture {
            clear: both;
            position: relative;
            /*     display: inline-block; */
            
            height: 200px;
            width: 450px;
            padding: 10px;
            background-color: white;
            border-radius: 40px;
            margin: 1px;
            font-family: "Helvetica", sans-serif;
            border: 7px solid #3e2b14;
        }
        #storeTxtButton {
            /*float:left;*/
            
            font-size: 22px;
            padding: 12px;
            float: center;
            line-height: 20px;
            border: none;
        }
        #selfieColorButton {
            /* line-height: 18px; */
            /*     border: .1px solid white; */
            
            font-size: 22px;
            line-height: 20px;
            padding: 12px;
            border: #FF4136;
        }
        #keepButton {
            /*  float:left;*/
            
            float: left;
            line-height: 20px;
            font-size: 22px;
            padding: 12px;
            border: none;
        }
        #deleteButton {
            font-size: 22px;
            padding: 12px;
            float: left;
            line-height: 20px;
            border: none;
        }
        .small-12 {
            padding: 0px;
            width: 100%;
        }
        button {
            margin-top: 0px;
            letter-spacing: .01em;
        }
        #selfieFrame {
            padding: 20px;
            height: 240px;
            width: 75%;
            margin-left: 30px;
        }

        #pencilColor {
            margin-right: 190px;
        }
    }
    /* ---------------------------------Sm---------- */
    
    @media screen and (max-width: 320px) {
        .weekdays li, .days li {
            width: 12.2%;
        }
        .callout H4 {
            font-size: 20px;
            line-height: 25px;
        }
        #pencilFeel {
            float: right;
            width: 40%;
            height: 40%;
            margin-right: 100px;
            padding: 0px;
            color: white;
            font-size: 180px;
        }
        #cameraFeel {
            float: center;
            width: 40%;
            height: 40%;
            margin-right: 150px;
            padding: 0px;
            color: white;
            font-size: 180px;
        }
        #selfieFrame {
            padding: 0px;
            height: 170px;
            width: 1800px;
            color: #FF4136;
            margin-bottom: 0px;
            margin-top: 5px;
            background: white;
            border-radius: 10%;
            text-align: right;
            border: 10px solid navajowhite;
            padding: 0px;
        }
        #selfieCapture {
            clear: both;
            position: relative;
            /*     display: inline-block; */
            
            width: 90%;
            padding: 10px;
            background-color: white;
            border-radius: 40px;
            margin-left: -8px;
            font-family: "Helvetica", sans-serif;
            border: 7px solid #3e2b14;
        }
        #selfieFrame {
            padding: 20px;
            height: 240px;
            width: 75%;
            color: #FF4136;
            margin-bottom: 2px;
            margin-left:10px;
            margin-top: 20px;
            background: white;
            border-radius: 10%;
            text-align: right;
            border: 20px solid navajowhite;
            padding: 10px;
        }
        form {
            clear: both;
            position: relative;
            display: inline-block;
            max-width: 500px;
            min-width: 300px;
            height: 400px;
            min-height: 300px;
            box-sizing: border-box;
            padding: 30px 20px;
            background-color: white;
            border-radius: 40px;
            margin-left: -18px;
            font-family: "Helvetica", sans-serif;
            font-weight: light;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            border: 6px solid #3e2b14;
            padding: 10px;
        }
        #pencilColor {
            font-size: 220px;
            float: right;
            width: 40%;
            height: 40%;
            margin-left: 30px;
            padding: 0px;
            color: white;
        }
    }