
element.style {
    height: 935px;
    z-index: 100;
}
.off-canvas-content {
    overflow: hidden;
}
body {
    background: #36c3e5;
    background: #FF4136;
}
.callout {
    background: #36c3e5;
    background: #FF4136;
    padding: 10px;
    color: white;
    text-align: right;
    border: none;
    margin-top: 0px;
}
.x-callout:before {
    display: none;
}


.leslieTitle {
    font-family: 'Pacifico', cursive; 
    
    line-height: auto;
    margin-bottom: auto;
    /*     font-weight: bold; */
    
    font-size: 150px;
} 

.mosesTitle {
font-family:'Monofett', cursive; 
font-size:210px;
}

.callout H4 {
    font-family: 'Lobster', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .05em;
    line-height: 3px;
    font-size: 40px;
}
#feelSpectrumText {
    letter-spacing: 1em;
    line-height: 2px;
    margin-bottom: 6px;
    text-align: left;
}
/**{
        background: #ff7bac;
    }*/

    /* START EXPANDER */
    
    /* END EXPANDER */

#talkInvite {
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    line-height: 3px;
    color: #FF4136;
    margin-bottom: 2px;
    margin-top: 20px;
    background: white;
    border-radius: 40%;
}
#selfieInvite {
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
    line-height: 3px;
    color: #FF4136;
    margin-bottom: 2px;
    margin-top: 20px;
    background: white;
    border-radius: 40%;
    text-align: right;
}

#smCameraButton {
    margin-left: 5px;
    margin-top: -10px;
}

.rezTitle{
    font-family:'Monofett', cursive; 
    font-size:100px; text-align:left; 
    color:white;
}

#sayText {
    font-size: 20px;
    color: #666;
}
#pencilColor {
    font-size: 350px;
    float: right;
    width: 40%;
    height: 40%;
    margin-right: 50px;
    padding: 0px;
    color: white;
}
#pencilColor:hover {
    color: navajowhite;
}
#getYourTextColor {
    /* @extend .transition*/
    margin-top: 20px;
    background-color: #FF4136;
    border: 1px solid #FF4136;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    /*      border-radius: 60px;*/
    color: white;
/*     letter-spacing: 0.01em; */
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
#getYourTextColor:hover {
    color: white;
    background-color: salmon;
    border: 2px solid white;
}
#getYourTextColor:hover #pencilColor {
    color: lightgreen;
}
.box {
    float: right;
    width: 35px;
    height: 35px;
    margin: 10px;
    border: 7px solid white;
    align-items: right;
    border-radius: 15%;
}
.box:hover {
    border-radius: 40%;
    box-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#cameraFeel {
    float: right;
    width: 40%;
    height: 40%;
    margin-right: 10px;
    padding: 0px;
    border-style: none;
    color: white;
    font-size: 110px;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#cameraFeel:hover {
    color: grey;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#smCamera {
    color: black;
    text-align: right;
}
#smCamera:hover {
    color: floralwhite;
    text-align: right;
}


#pencilFeel {
    float: right;
    width: 40%;
    /* height: 40%; */
    margin-right: 50px;
    padding: 0px;
    color: white;
    font-size: 110px;

}
#pencilFeel:hover {
    color: grey;
    /*     max-width: 400px;
min-width: 100px;
height: 400px;
min-height: 100px; */
}
#textCamera {
    font-size: 55px;
    color: white;
    font-weight: bolder;
    padding-left: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    /* margin-top: 20px; */
}
#textPencil {
    font-size: 55px;
    color: white;
    font-weight: bolder;
    padding-left: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    /* margin-top: 20px; */
}

.feel {
    color: white;
    font-size: 18px;
}
/* START CARO Pics */

.image-hover-wrapper {
    position: relative;
    background: white;
    /* padding: 10%; */
    margin-bottom: 2%;
    border-radius: 1%;
    padding: 20px;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 24px;
}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(1, 2, 3, .7);
  color: #fefefe;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
    /* bottom: 20px; */
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    color: black;
    background: white;
    border: #FF4136 5px solid;
    border-radius: 14px;
    padding: 2%;
    text-align: center;
    width: 25%;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .fa {
  font-size: 24px;
}


.image-hover-wrapper .image-hover-wrapper-banner {
    background-color: #444;
    color: white;
    /* font-weight: 600; */
    left: 0;
    padding: 0.8rem;
    position: absolute;
    top: 7%;
    left: 101%;
    width: 15%;
    z-index: 0;
    border-radius: 8px;
    text-align: center;
}
 .bold {
font-weight: bolder;
color: #888;
}

/* .visitLink {
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;

} */
/* END CARO Pics  */

#offCanvasBottom1 {
    background: white;
    z-index: 100;
}
/*form*/

form {
    clear: both;
    position: relative;
    display: inline-block;
    max-width: 500px;
    min-width: 300px;
    height: 400px;
    min-height: 300px;
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 20px;
    font-family: "Helvetica", sans-serif;
    font-weight: light;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    border: 6px solid #3e2b14;
    padding: 10px;
}
Form:hover {
    box-shadow: inset 0 0 0 10px navajowhite;
}
#inputText {
    appearance: none;
    background-color: none;
    border: 1px solid #FF4136;
    line-height: 0;
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 60px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    top: 60px;
    z-index: 1;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
    color: white;
    text-align: center;
}
#inputText:hover {
    outline: none;
    background: salmon;
    color: white;
    /*     margin-top: 30px;
margin: 40px 20px; */
    
    font-family: "Georgia";
}
#inputText:focus {
    outline: none;
    background: salmon;
    color: white;
    /*     margin-top: 30px;
margin: 40px 20px; */
    
    font-style: italic;
    font-family: "Georgia";
}
#yourTextColor {
    border-radius: 20%;
    height: 3%;
    width: 3% ;background: white;
}
.question {
    position: relative;
    padding: 10px 0;
}

h2 {
    font-size: 1.1875rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: white;
    text-align: right;
}

.bgimg {
    /* background-image: url('images/bgColorFire.jpg'); */
    /* border-radius: 13px;
    padding: 2%;
    background-repeat: no-repeat; */
    /* background-color:floralwhite; */
}

button {
    /* @extend .transition*/
    
    margin-top: 20px;
    background-color: #FF4136;
    border: 1px solid #FF4136;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    /*      border-radius: 60px;*/
    
    color: white;
    font-weight: 100;
    letter-spacing: 0.1em;
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
}
button:hover {
    color: white;
    background-color: salmon;
    border: 2px solid white;
}
button #getColorButton:focus {
    color: white;
    background-color: #FF4136;
}
#backTop {
    background: white color: #666;
    COLOR:WHITE;
    margin-top: 10px;
       
}

/* START SOCIAL */
@charset "UTF-8";

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.boldRezHed {
    color: black;

   font-weight: bolder;
   font-size: 25px; 
}

.fa-graduation-cap {
    color:black;
}

.bullet{
    color:black;
}

.rezSubHed {
   color: black;
   font-weight: bold;
   font-size: 18px; 
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}



/* END SOCIAL */


.portfolio-resume-spacing {
  margin-bottom: 2rem;
}

.portfolio-resume-wrapper {
  padding: 2rem ;
}

.portfolio-resume-headshot {
  margin-bottom: 1rem;
  border-radius: 10%;
}

.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  margin-bottom: 1rem;
font-family: 'Open Sans Condensed', sans-serif;
color:white;
font-size: 50px;
}


.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;
}

.portfolio-resume-contact-info a {
  color: #0a0a0a;
}

.portfolio-resume-contact-info .fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    vertical-align: middle;
    color: white;
}
.rezDividers{
    font-weight:bolder; font-size:20px
}

#yearButton {
    clear: both;
    text-align: center;
    line-height: 0px;
    visibility: visible;
    float: left;
    background: white;
    color: #FF4136;
    letter-spacing: none;
    margin-top: 2px;
    border: .5px solid #666;
    font-family: 'Nova Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Comfortaa', cursive;
}
#yearButton:hover {
    color: white;
    background-color: salmon;
    border: .5px solid #FF4136;
}
/*ALMOST WORKS HERE HERE */
/*#yearButton:hover */
/*.off-canvas-wrapper .position-bottom {

     height:100%;   
} 
*/
/*MY VERSION.off-canvas-wrapper 

    STACKOVERFLOW SUGGESTIONS 
    .off-canvas-wrap,.inner-wrap{
    height:100%;   
}*/
/* YEAR IN COLOR CALENDAR*/

 .smile img{
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    box-sizing: border-box;
}
.yearHeader {
    padding: 0px;
    width: 100%;
    background: white;
}
.yearHeader ul {
    margin: 0;
    padding: 0;
}
.yearHeader ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-sizing: border-box;
}
.yearHeader .prev {
    float: left;
    padding-top: 10px;
    color: #FF4136;
}
.yearHeader .next {
    float: right;
    padding-top: 10px;
    color: #FF4136;
}
li:hover {
    box-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    color: green;
}
li #jan1 {} li #jan1:hover {
    color: yellow;
    background: black;
}
#yearInColorHead {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: #FF4136;
    text-align: center;
}
/* Media queries */
    /* ---------------------------------Sm---------- */
    /* SMALL only */
@media screen and (max-width: 39.9375em) {
    /* @media screen and (max-width: 320px) { */

.callout.large {
    background: #36c3e5;
    background: #FF4136;
    padding: 1px;
    color: white;
    text-align: center;
    border: none;
    margin-top: 0px;
}
.callout H4 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .05em;
    line-height: 23px;
    font-size: 35px;
}

      h1  .leslieTitle {
    font-family: 'Pacifico', cursive;    
    line-height: auto;
    margin-bottom: auto;
    font-size: 55px;
      text-align: center;

} 
        .mosesTitle {
            font-size: 52px;
            line-height: 10px;
        }

        img {
    display: inline-block;
    vertical-align: middle;
    max-width: 25%;
    height: 35%;
    -ms-interpolation-mode: bicubic;
}

.rezTitle{
    font-family:'Monofett', cursive; 
    font-size:80px; 
    text-align:left; 
    color:white;
}

    #textCamera {
        font-size: 18px;
        color: white;
        padding-left: none;
        text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
        /* margin-top: 20px; */
    } 

        #pencilFeel {
            float: right;
            width: 40%;
            height: 40%;
            margin-right: 100px;
            padding: 0px;
            color: white;
            font-size: 180px;
        }
        #cameraFeel {
            float: center;
            width: 40%;
            height: 40%;
            margin-right: 150px;
            padding: 0px;
            color: white;
            font-size: 180px;
        }
        #selfieFrame {
            padding: 0px;
            height: 170px;
            width: 1800px;
            color: #FF4136;
            margin-bottom: 0px;
            margin-top: 5px;
            background: white;
            border-radius: 10%;
            text-align: right;
            border: 10px solid navajowhite;
            padding: 0px;
        }
        #selfieCapture {
            clear: both;
            position: relative;
            /*     display: inline-block; */
            
            width: 90%;
            padding: 10px;
            background-color: white;
            border-radius: 40px;
            margin-left: -8px;
            font-family: "Helvetica", sans-serif;
            border: 7px solid #3e2b14;
        }
        #selfieFrame {
            padding: 20px;
            height: 240px;
            width: 75%;
            color: #FF4136;
            margin-bottom: 2px;
            margin-left:10px;
            margin-top: 20px;
            background: white;
            border-radius: 10%;
            text-align: right;
            border: 20px solid navajowhite;
            padding: 10px;
        }
       
        #pencilColor {
            font-size: 220px;
            float: right;
            width: 40%;
            height: 40%;
            margin-left: 30px;
            padding: 0px;
            color: white;
        }
    }









/* --------------------------------------Lg---------- */

@media screen and (max-width: 768px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
    .callout H1 {
        font-family: 'Lobster', cursive;
        font-size: 45px;
        line-height: 100px;
    }
    #pencilFeel {
        float: right;
        width: 40%;
        height: 40%;
        /* margin-right: 50px; */
        padding: 0px;
        color: white;
        font-size: 100px;
    }
    #textPencil {
        font-size: 48px;
        color: white;
        padding-left: none;
        text-align: center;
            font-family: 'Open Sans Condensed', sans-serif;
        /* margin-top: 20px; */
    }
    #cameraFeel {
        float: right;
        width: 40%;
        /* height: 40%; */
         margin-right: 150px; 
        padding: 0px;
        color: white;
        font-size: 100px;
    }
    #textCamera {
        font-size: 48px;
        color: white;
        padding-left: none;
        text-align: left;
        font-family: 'Open Sans Condensed', sans-serif;
        /* margin-top: 20px; */
    }
    #selfieFrame {
        padding: 0px;
        height: 170px;
        width: 250px;
        color: #FF4136;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: -20px;
        background: white;
        border-radius: 10%;
        text-align: right;
        border: 10px solid navajowhite;
        padding: 0px;
    }
    #selfieCapture {
        clear: both;
        position: relative;
        /*     display: inline-block; */
        
        height: 200px;
        padding: 10px;
        background-color: white;
        border-radius: 40px;
        margin: 1px;
        font-family: "Helvetica", sans-serif;
        border: 7px solid #3e2b14;
    }
    #selfieInvite {
        font-size: 30px;
        font-family: 'Comfortaa', cursive;
        line-height: 3px;
        color: #FF4136;
        margin-bottom: 0px;
        margin-top: -70px;
        background: white;
        border-radius: 40%;
        text-align: right;
    }
    .small-12 {
        padding: 0px;
 
 
    .medium-2 {
        width: 10%;
        padding: 0px;
    }
 
    /* --------------------------------Md---------- */
    
    @media screen and (max-width: 480px) {
        .weekdays li, .days li {
            width: 12.5%;
        }
        .days li .active {
            padding: 2px;
        }
        #textPencil {
            font-size: 48px;
            color: white;
            padding-left: none;
            text-align: center;
                font-family: 'Open Sans Condensed', sans-serif;
            margin-top: 20px;
            margin-left: 10px;
        }

        #textCamera {
            text-align: center;
        }
        #selfieCapture {
            clear: both;
            position: relative;
            /*     display: inline-block; */
            
            height: 200px;
            width: 450px;
            padding: 10px;
            background-color: white;
            border-radius: 40px;
            margin: 1px;
            font-family: "Helvetica", sans-serif;
            border: 7px solid #3e2b14;
        }
 
        .small-12 {
            padding: 0px;
            width: 100%;
        }
        button {
            margin-top: 0px;
            letter-spacing: .01em;
        }
        #selfieFrame {
            padding: 20px;
            height: 240px;
            width: 75%;
            margin-left: 30px;
        }

        #pencilColor {
            margin-right: 190px;
        }
    }
